<?php
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

declare(strict_types=1);

use Magento\Framework\Escaper;
use Magento\Sales\Api\Data\OrderInterface;
use Resursbank\Ordermanagement\Block\Adminhtml\Sales\Order\View\Info\PaymentInformation;
use Resursbank\Ordermanagement\ViewModel\Adminhtml\Sales\Order\View\Info\PaymentInformation as ViewModel;

/** @var PaymentInformation $block */
/** @var ViewModel $viewModel */
/** @var Escaper $escaper */

if (isset($block)) {
    $viewModel = $block->getViewModel();
}

if (isset($viewModel, $block)) {
    $order = $viewModel->getOrder($block->getOrderIdFromRequest());
    if ($order instanceof OrderInterface) {
        $order = $viewModel->setOrder(
            $viewModel->getOrder(
                $block->getOrderIdFromRequest()
            )
        );
    } else {
        $order = null;
    }
}
?>

<?php // Didn't combine if-blocks because PHPStan will complain unnecessarily. ?>
<?php if (isset($block, $viewModel, $order, $escaper)): ?>
    <?php if ($viewModel->isEnabled($order)): ?>
        <?php if (empty($viewModel->getPaymentInformation())): ?>
            <div class="field-group">
                <p class="error-message">
                    <?= $escaper->escapeHtml(__('Payment information could not be retrieved from Resurs Bank.'))  ?>
                </p>
            </div>
        <?php else: ?>
            <section class="admin__page-section resursbank-ordermanagement-payment-information">
                <div class="admin__page-section-title">
                    <span class="title">
                        <?= $escaper->escapeHtml(__('Payment')) ?>
                    </span>
                    <div class="resursbank-logo">
                        <div class="img"></div>
                    </div>
                </div>
                <div class="admin__page-section-content">

                    <?php // Payment information.?>
                    <div class="admin__page-section-item">
                        <div class="admin__page-section-item-content">
                            <table class="admin__table-secondary">
                                <tbody>
                                    <tr>
                                        <th>
                                            <?= $escaper->escapeHtml(__('ID')) ?>
                                        </th>
                                        <td>
                                            <?= $escaper->escapeHtml($viewModel->getPaymentId()) ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <?= $escaper->escapeHtml(__('Amount')) ?>
                                        </th>
                                        <td>
                                            <span class="price">
                                                <?= $escaper->escapeHtml($viewModel->getPaymentTotal()) ?>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <?= $escaper->escapeHtml(__('Limit')) ?>
                                        </th>
                                        <td>
                                            <span class="price">
                                                <?= $escaper->escapeHtml($viewModel->getPaymentLimit()) ?>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <?= $escaper->escapeHtml(__('Status')) ?>

                                        </th>
                                        <td>
                                            <?= $escaper->escapeHtml(__($viewModel->getPaymentStatus())) ?>

                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <?= $escaper->escapeHtml(__('Frozen')) ?>
                                        </th>
                                        <td>
                                            <?= $escaper->escapeHtml(__(($viewModel->isFrozen() ? 'Yes' : 'No'))) ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <?= $escaper->escapeHtml(__('Fraud')) ?>
                                        </th>
                                        <td>
                                            <?= $escaper->escapeHtml(__(($viewModel->isFraud() ? 'Yes' : 'No'))) ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <?= $escaper->escapeHtml(__('Payment Method')) ?>
                                        </th>
                                        <td>
                                            <?= $escaper->escapeHtml(__($viewModel->getPaymentMethodName())) ?>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <?php // Customer information.?>
                    <div class="admin__page-section-item">
                        <div class="admin__page-section-item-title">
                            <span class="title">
                                <?= $escaper->escapeHtml(__('Customer')) ?>
                            </span>
                        </div>
                        <div class="admin__page-section-item-content">
                            <table class="admin__table-secondary">
                                <tbody>
                                    <tr>
                                        <th>
                                            <?= $escaper->escapeHtml(__('Name')) ?>
                                        </th>
                                        <td>
                                            <?= $escaper->escapeHtml($viewModel->getCustomerName()) ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <?= $escaper->escapeHtml(__('Address')) ?>

                                        </th>
                                        <td>
                                            <?php foreach ($viewModel->getCustomerAddress() as $value): ?>
                                                <?= $escaper->escapeHtml($value) ?>
                                                <br />
                                            <?php endforeach; ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <?= $escaper->escapeHtml(__('Telephone')) ?>
                                        </th>
                                        <td>
                                            <?= $escaper->escapeHtml($viewModel->getCustomerTelephone()) ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <?= $escaper->escapeHtml(__('Email')) ?>

                                        </th>
                                        <td>
                                            <?= $escaper->escapeHtml($viewModel->getCustomerEmail()) ?>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>
